.h6{
    font-size: 10px!important;
}

.inputText{
    font-size: 12px!important;
    text-align: left!important;
    display: inline-block!important;
    width: 90%;
    align-items:flex-start!important;
}

.inputTextButton{
}

.cardBody{
    margin-left: 0!important;
    padding-left: 15px!important;
    padding-bottom: 0!important;
    vertical-align: middle!important;
    align-items:flex-start!important;
    text-align: left!important;
}
.titleText{
    color: #345EAA !important;
    font-weight: bold!important;
    font-size: 12px!important;
    margin: 0!important;
    padding: 0px!important;
    margin-left: 28px!important;
}

.errorText{
    color: red !important;
    // font-weight: bold!important;
    font-size: 10px!important;
    margin-left: 10px!important;
}

.errorText2{
    color: red !important;
    // font-weight: bold!important;
    font-size: 10px!important;
    margin-left: 20px!important;
}

.gstButtons{
    vertical-align: middle!important;
    height: 200px!important;
}


.tabContent{
    padding-left: 30px!important;
}

.tabContent2{
    padding-left: 30px!important;
    padding-right: 30px!important;
    width:fit-content!important;
}

.tabContent3{
    padding-left: 50px!important;
}

.grid-cell-centered{
    text-align: center;
    align-items: center;
}

.tabContent4{
    padding-left: 50px!important;
}
.custom-control {
    z-index: 0!important;
}
.textArea1{
    width: 950px!important;
}

.row{
    margin: 0px!important;
    padding: 0px!important;
}

.buttonDiv{
    align-items:flex-end!important;
    text-align: right!important;

}

.navTabs{
}

.icons{
    color: #345EAA!important;
}


.custom-container {
    margin-bottom: 60px!important;
}

.TabContent{
    width: 100%;
}

.ag-header-cell.text-center {
    .ag-header-cell-label {
      justify-content: center;
    }
  }
