.label {
    text-align: left !important;
    display: inline-block !important;
    font-style: bold !important;
    align-items: flex-start !important;
    border-style: none !important;
    color: rgb(112, 105, 105) !important;
    font-weight: 500 !important;
}
